<div class="home">
  <h1>Welcome to Arthur's Rails App</h1>
  <ul>
    <li>Check out my awesome <%= link_to "dog groomers industry page", dog_groomer_path %>.</li>
    <li>Look at my <%= link_to 'GitHub Repo', 'https://github.com/arthurlm44/design_challenge' %> for this app.</li>
    <li></li>
  </ul>
</div>
