@import 'shared/variables';

@media (max-width: 700px) {
  .footer-content {
    text-align: center;

    .left-img {
      float: none;
    }
    .right-img {
      float: none;
    }
  }
}

@media (max-width: 450px) {

  .footer-content {
    padding: 5px;

    .left-img {
      img {
        width: 200px;
      }
    }
    .right-img {

      img {
        width: 300px;
      }
    }
  }

}
