@import 'shared/variables';

@media (max-width: 700px) {

  .header {
    padding: 0 0 0 5px;
  }

  .nav-tablet-hide {
    display: none;
  }

  .nav-tablet-show {
    display: block;
  }


}
@media (max-width: 468px) {
  .nav-link {
    font-size: 0.72rem;
  }
}

