@import 'shared/variables';

@media (max-width: 800px) {
  .cta-bottom {
    padding: 50px 0;
    text-align: center;
  }
  .bottom-cta-button {
    float: none;
    margin-top: 10px;
  }
  .cta-text {
    display: none;
  }
}

@media (max-width: 670px) {

  .tablet-show {
    display: block;
  }

}