// Base Colors
$white: #ffffff;
$black: #000000;
$beige: #F5F5F1;

// Main Blues
$lightBlue: #438ee9;
$lightBlue2: #cce8ff;
$darkBlue: #004595;
$darkBlue2: #001c33;
$activeBlue: #003f88;
$darkActive: #003f88;

// Warm Greys
$warmGrey0: #fafaf8;
$warmGrey1: #f6f6f2;
$warmGrey2: #edede5;
$warmGrey3: #cfcec7;
$warmGrey4: #afada6;
$warmGrey5: #8f8e87;
$warmGrey6: #716f67;
$warmGrey7: #52504a;
$warmGrey8: #33302b;
$warmGrey9: #272523;

$footerTitle: #324e69;
$footerLink: #7f90a1;

// Vibrant Palette
$vGreen1: #4da620;
$vGreen2: #3d9d7d;
$vGreen4: #43970d;
$vLightBlue: #697fbb;
$vOrange1: #ff9600;
$vOrange2: #e85342;
$vRed: #bd1c3f;
$vBrightRed: #cc0000;
$vPurple1: #904598;
$vPurple2: #464aa5;
$vBlue: #575cc4;
$vYellow: #f2bb16;
$vBurgandy: #a3245f;
