@import "shared/variables";

.dog-container {
}

.dog-groomer-hero {

  .hero-image {
    z-index: 1;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .overlayed-text {
    position: absolute;
    z-index: 2;
    top: 125px;
    left: 100px;
  }
}

.feature-screenshot-right {
  background-color: $warmGrey1;
  padding: 40px 0;

  .fees {
    padding: 40px;
  }

  .fees-copy {
    width: 30%;
    float: left;
    padding-left: 100px;
  }

  .fees-screenshot {
    float: left;
    width: 40%;
    padding-left: 100px;

    img {
      height: 425px;
    }
  }
}

