@import "shared/variables";

.dog-container {
}

.dog-groomer-hero {

  .hero-image {
    z-index: 1;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .overlayed-text {
    position: absolute;
    z-index: 2;
    top: 125px;
    left: 100px;
  }
}

.feature-screenshot-right {
  width: 100%;
  background-color: $warmGrey1;

  .fees-copy {
    width: 50px;
  }

  .fees-screenshot {
    float: right;

    img {
      height: 300px;
    }
  }
}

