@import 'shared/variables';

.carousel-of-happy-dogs {
  padding: 30px 0 50px 0;
  background-color: $warmGrey1;
}

.carousel-header-copy {
  width: 60%;
  margin: 0 auto;
}

.dog-carousel {
  text-align: center;
  width: 350px;
  height: 328px;
  position: relative;
  margin: 50px auto 0 auto;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
