@import "shared/variables";

.header {
  position: fixed;
  width: 100%;
  background-color: $darkBlue;
  padding: 0 25px;
  z-index: 3;
  max-height: 80px;

  .logo {
    width: 76px;
    float: left;
  }

  .top-nav {
  }

  .nav-link {
    float: right;
    margin: 20px;
  }

  .nav-text-link {
    color: $white;
    text-decoration: none;
    font-family: "jaf-bernino-sans", "jaf-bernino-sans", sans-serif;
    padding-top: 10px;
  }

  .most-right-link {
    margin-right: 65px;
  }
}
