<div class="cta-bottom">
  <div class="cta-bottom-inner centered">
    <h1 class="cta-text">Ready to start growing your business?</h1>
    <%= link_to 'Get a Sales Demo', 'https://www.mavenlink.com/tour', class: 'button blue-back-white-text bottom-cta-button' %>
  </div>
</div>
<div class="clearfix"></div>