<div class="cta-bottom">
  <%= link_to 'Get a Sales Demo', 'https://www.mavenlink.com/tour',
              class: 'button blue-back-white-text bottom-cta-button' %>
  <h1 class="cta-text">Ready to start growing your business?</h1>
</div>
<div class="clearfix"></div>