<footer>
  <ul class="footer-content">
    <li class="left-img">
      <%= image_tag 'logo/ml-logo.png' %>
    </li>
    <li class="right-img">
      <%= image_tag 'logo/gartner.png' %>
    </li>
  </ul>
  <div class="clearfix"></div>
</footer>
