<div class="header">
  <div class="logo">
    <%= image_tag "logo/ml-logo.png" %>
  </div>
  <nav class="top-nav">
    <p class="nav-link">Link 1</p>
    <p class="nav-link">Link 2</p>
  </nav>
</div>
