<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title><%= @meta_title %></title>
<meta name="title" content="<%= @meta_title %>" />
<meta name="description" content="<%= @meta_description %>" />
